<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="rustybus.wanderer" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/red_foot"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="rustybus.wanderer.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="rustybus.wanderer.PrefsActivity"
            android:label="@string/title_activity_prefs" >
            <intent-filter>
                <action android:name="rustybus.wanderer.PrefsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="rustybus.wanderer.WebViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_web_view" >
            <intent-filter>
                <action android:name="rustybus.wanderer.WebViewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="rustybus.wanderer.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="rustybus.wanderer.MainActivity" >
            <intent-filter>
                <action android:name="rustybus.wanderer.AboutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
